body {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --stave: 0;
    --primary: 225, 73%, 57%;
    --primary-altered: 225, 73%, 47%;
    --footer: 210, 17%, 91%;
    --primary-lighter: 225, 73%, 61%;
    --circle-of-fifths: 225, 73%, 87%, 1;
    --circle-of-fifths-altered: 225, 73%, 62%, 1;
}

html.dark body {
    --background: 0, 0%, 7%;
    --foreground: 0, 0%, 88%;
    --primary-foreground: 0, 0%, 88%;
    --footer: 0, 0%, 4%;
    --stave: 1;
    --primary: 225, 73%, 57%;
    --primary-altered: 225, 73%, 47%;
    --primary-lighter: 225, 73%, 61%;
    --circle-of-fifths: 225, 73%, 37%, 0.4;
    --circle-of-fifths-altered: 225, 73%, 32%, 1;
}