* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    transition: background-color 0.4s cubic-bezier(0.41, 0.1, 0.13, 1), color 0.4s cubic-bezier(0.41, 0.1, 0.13, 1);
}

body {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --stave: 0;
    --primary: 225, 73%, 57%;
    --secondary: 225, 73%, 47%;
    --footer: 210, 17%, 91%;
}

html.dark body {
    --background: 0, 0%, 7%;
    --design-course-bg: 0, 0%, 11.76%;
    --foreground: 0, 0%, 88%;
    --primary-foreground: 0, 0%, 88%;
    --footer: 0, 0%, 4%;
    --footer-green: 154.29, 95.45%, 8.63%;
    --stave: ;
    --primary: 225, 73%, 57%;
    --secondary: 225, 73%, 47%;
}